body{
    background: url(C:\Users\busra\OneDrive\Masaüstü\kahvehaneET\girisfoto.jpg);
}



.header{
    background-color: saddlebrown;
    color: dimgray;
    padding: 15px;
    border: 15px solid;
    border-radius: 7px;

}